/* stili generali della pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 14px;
}




/* ---------------------- stili header -------------------------- */
header {
    background-color: #FF6901;
    width: 100%;
    display: flex;
    justify-content: center;
    /* DEBUG */
    min-height: 60px;
    
}

#header-container {
    display: flex;
    min-height: 80px;
    width: 80%;

}

.header-style {
    color: white;
    font-size: 15px;
}

#choose-gender {
    width: 20%;
    background-color: aqua;
}

#logo {
    width: 60%;
    background-color: beige;
}

#personal-area {
    width: 20%;
    background-color: green;
}



/* ------------------------ stili main -------------------------- */
main {
    display: flex;
    /* DEBUG */
    background-color: rgb(0, 255, 68);
    min-height: 600px;
    justify-content: center;
}

#clothes-container {
    width: 80%;
    margin-top: 60px;
    /* DEBUG */
    min-height: 400px;
    background-color: red;
}

.clothes-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#first-row {

}

#second-row {
    padding-top: 10px;
}

.card-and-written {
    width: calc((100% / 3) - 10px);
    background-color: gray;
    /* DEBUG */
    min-height: 350px;
}








/* ---------------------- stili footer -------------------------- */