/* stili generali della pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 14px;
}




/* ---------------------- stili header -------------------------- */
header {
    background-color: #FF6901;
    width: 100%;
    display: flex;
    justify-content: center;
    /* DEBUG */
    min-height: 100px;
    
}

#header-container {
    display: flex;
    min-height: 80px;
    width: 80%;

}

.header-style {
    color: white;
    font-size: 15px;
}

#choose-gender {
    width: 20%;
    background-color: aqua;
}

#logo {
    width: 60%;
    background-color: beige;
}

#personal-area {
    width: 20%;
    background-color: green;
}



/* ------------------------ stili main -------------------------- */







/* ---------------------- stili footer -------------------------- */