/* stili generali della pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 14px;
}




/* ---------------------- stili header -------------------------- */
header {
    background-color: #FF6901;
    width: 100%;
    display: flex;
    justify-content: center;
}

#header-container {
    display: flex;
    min-height: 50px;
    width: 80%;
    align-items: center;
}

.header-style {
    color: white;
    font-size: 15px;
}



#choose-gender {
    width: 22%;
}

#choose-gender > ul {
    list-style: none;
    justify-content: space-between;
    display: flex;
}

#choose-gender li {
    display: inline-block;
}

header a {
    text-decoration: none;
    color: white;
}

#logo {
    width: 56%;
    text-align: center;
}

#logo > img {
    width: 120px;
}

#personal-area {
    width: 22%;
    display: flex;
    justify-content: flex-end;
}

#personal-area span {
    font-size: 15px;
}




/* ------------------------ stili main -------------------------- */
main {
    display: flex;
    padding-bottom: 40px;
    /* DEBUG */
    background-color: rgb(0, 255, 68);
    min-height: 600px;
    justify-content: center;
}

#clothes-container {
    width: 80%;
    margin-top: 60px;
    /* DEBUG */
    min-height: 400px;
    background-color: red;
}

.clothes-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}



#second-row {
    padding-top: 10px;
}

.card-and-written {
    width: calc((100% / 3) - 10px);
    background-color: gray;
    /* DEBUG */
    min-height: 350px;
}








/* ---------------------- stili footer -------------------------- */
footer {
    background-color: black;
    min-height: 60px;
    color: white;
    display: flex;
    justify-content: center;
}

#footer-container {
    display: flex;
    width: 80%;
}

#left-box {
    width: 50%;
}

#right-box {
    width: 50%;
}

